$color-white         : #FFFFFF;
$color-grey-dark     : #424B5A;
$color-grey-medium   : #505D68;
$color-grey-clear    : #929394;
$color-grey-light    : #C4C4C4;
$color-grey-full     : #DADADA;
$color-green-full    : #31B627;
$color-purple-full   : #82368C;
$color-purple-light  : #824BA8;
$color-purple-clear  : #B537FF;
$color-purple-medium : #A100FF;
$color-purple-dark  : #601A90;
