.main {
  width: 100%;
  max-width: 128rem;
  height: auto;
  margin: 10% 0 0 0;
  background: $color-grey-weak;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include responsive(tab_medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
