.nav {
  width: 100%;
  max-width: 128rem;
  height: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  background-color: $color-white;
  margin-top: -9%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

  @include responsive(tab_medium) {
    margin-top: -12.5%;
  }

  @include responsive(phone) {
    display: none;
  }

  &_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 7rem 0 7rem;
    list-style: none;
    margin: 0;

    &-item {
      border-bottom: 0.5rem solid transparent;
      color: $color-purple-dark;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding-bottom: 2rem;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 700;
      cursor: pointer;

      @include responsive(tab_medium) {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
    }

    &-item:hover {
      color: $color-grey-medium;
      border-bottom: 0.5rem solid $color-green-full;
    }
  }
}

.about {
  width: 100%;
  max-width: 99%;
  height: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &_article {
    max-width: 61rem;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding: 1rem;

    &-title {
      margin: 0;
      font-weight: 400;
      font-size: 4.8rem;
      color: $color-grey-dark;
      text-transform: uppercase;
    }

    &-text {
      display: flex;
      flex-wrap: wrap;
      color: $color-grey-dark;
      font-size: 1.8rem;
      font-weight: 300;
      text-align: justify;
      text-indent: 3rem;
    }

    &-btn-about {
      width: 20rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 4rem;
      color: $color-purple-clear;
      background-color: transparent;
      border: 2px solid $color-grey-full;
      box-shadow: 2px 3px 6px $color-grey-clear;
      background: transparent;
      border-radius: 10rem;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      outline: none;
      cursor: pointer;
    }

    &-btn-about:hover {
      transition: 400ms;
      box-shadow: 2px 3px 6px rgba(49, 182, 39, 0.4);
      border: 2px solid $color-grey-full;
      background: transparent;
      border-radius: 10rem;
    }
  }

  &_fig {
    margin: 0;
    height: auto;
    margin-top: 4rem;

    &-abt {
      width: 100%;

      @include responsive(tab_medium) {
        max-width: 32rem;
      }

      @include responsive(phone) {
        max-width: 32rem;
      }
    }
  }
}
