.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 6%;

  @include responsive(tab_medium) {
    max-width: 90%;
  }

  @include responsive(phone) {
    max-width: 90%;
  }

  &_article {
    max-width: 61rem;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding: 1rem;

    @include responsive(tab_medium) {
      max-width: none;
      width: 100%;
    }

    &-title {
      margin: 0;
      padding: 0 0 5% 0;
      font-weight: 600;
      font-size: 4.8rem;
      color: $color-grey-dark;
      text-transform: uppercase;

      @include responsive(tab_medium) {
        display: none;
      }

      @include responsive(phone) {
        display: none;
      }

      &-mob {
        display: none;

        @include responsive(tab_medium) {
          display: initial;
          padding-top: 0;
        }

        @include responsive(phone) {
          display: initial;
          padding-top: 0;
        }
      }
    }

    &-text {
      display: flex;
      flex-wrap: wrap;
      color: $color-grey-dark;
      font-size: 1.8rem;
      font-weight: 300;
      text-align: justify;
      text-indent: 3rem;
    }

    &-btn-about {
      width: 20rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 4rem;
      color: $color-purple-clear;
      background-color: transparent;
      border: 2px solid $color-grey-full;
      box-shadow: 2px 3px 6px $color-grey-clear;
      background: transparent;
      border-radius: 10rem;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      outline: none;
      cursor: pointer;
    }

    &-btn-about:hover {
      transition: 400ms;
      box-shadow: 2px 3px 6px rgba(49, 182, 39, 0.4);
      border: 2px solid $color-grey-full;
      background: transparent;
      border-radius: 10rem;
    }
  }

  &_abt {
    max-width: 46rem;

    @include responsive(tab_medium) {
      max-width: 32rem;
    }

    @include responsive(phone) {
      max-width: 32rem;
    }
  }
}
