#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(80, 93, 104);
  background: radial-gradient(
    circle,
    rgba(80, 93, 104, 0.8337710084033614) 0%,
    rgba(80, 93, 104, 0.8449754901960784) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 400ms;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 120;
}

#modal.addScroll {
  overflow: auto;
}

#modal .content {
  width: 100%;
  max-width: 45rem;
  height: 100%;
  max-height: 45rem;
  border-radius: 0.8rem;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include responsive(phone) {
    width: 95%;
    height: 60%;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-purple-dark;
    line-height: 3.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* @include responsive(tab_medium) {
      max-width: 60%;
      height: auto;
      text-align: center;
      margin: 0;
    } */

    @include responsive(phone) {
      max-width: 90%;
    }

    input {
      width: 100%;
      height: 6rem;
      color: $color-green-full;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 0 2.4rem;
      margin-top: 0.8rem;
      letter-spacing: 1px;
      border: 1.5px solid #dcdce6;
      box-sizing: border-box;
      box-shadow: 0px 0px 8px rgba(181, 55, 255, 0.2);
      border-radius: 8px;
      outline: none;
    }

    button {
      width: 100%;
      height: 6rem;
      display: inline-block;
      margin-top: 1.6rem;
      background: $color-purple-clear;
      color: $color-white;
      border: 0;
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 6rem;
      text-align: center;
      text-decoration: none;
      transition: filter 0.2s;
      cursor: pointer;

      @include responsive(tab_medium) {
        max-width: 100%;
        height: auto;
        text-align: center;
        margin-top: 3%;
      }

      @include responsive(phone) {
        max-width: 100%;
      }
    }

    button:hover {
      filter: brightness(90%);
      box-shadow: 0px 3px 6px rgba(234, 128, 252, 0.8);
      border: 1px solid #7159c1;
      transition: all 0.2s ease-in-out;
    }

    a {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      color: $color-purple-clear;
      font-size: 1.6rem;
      font-weight: 600;
      text-decoration: none;
      transition: opacity 0.2s;
      outline: none;

      /* @include responsive(tab_medium) {
        display: none;
      } */
    }

    a svg {
      margin-right: 1.2rem;
    }

    a:hover {
      opacity: 0.7;
    }
  }
}

.hide {
  visibility: hidden;
}
