.define {
  width: 100%;
  max-width: 98%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;

  @include responsive(tab_medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  max-width: 32rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 2rem 0.5rem;
  border-radius: 25px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);

  &_title {
    text-align: center;
    font-size: 3rem;
    color: $color-purple-dark;
  }

  &_text {
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: justify;
    text-indent: 3rem;
    color: $color-grey-dark;
  }
}
