@import 'global/variables';
@import 'global/responsive';
@import 'global/placeholders';

@import 'pages/Register';
@import 'pages/Login';

@import 'components/Hero';
@import 'components/About';
@import 'components/Definitions';
@import 'components/OurStory';
@import 'components/WhatWeDo';
@import 'components/WhyWeDo';
@import 'components/Participate';
@import "components/Partners";
@import 'components/Faq';
@import "components/Footer";
@import 'components/NavBar';
@import 'components/NavFixed';
@import 'components/RegisterConfirmation';
@import 'components/ProfileSelection';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* GLOBAL RESET */
:global(html),
:global(div),
:global(span),
:global(applet),
:global(object),
:global(iframe),
:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6),
:global(p),
:global(blockquote),
:global(pre),
:global(a),
:global(abbr),
:global(acronym),
:global(address),
:global(big),
:global(cite),
:global(code),
:global(del),
:global(dfn),
:global(em),
:global(img),
:global(ins),
:global(kbd),
:global(q),
:global(s),
:global(samp),
:global(small),
:global(strike),
:global(strong),
:global(sub),
:global(sup),
:global(tt),
:global(var),
:global(b),
:global(u),
:global(i),
:global(center),
:global(dl),
:global(dt),
:global(dd),
:global(ol),
:global(ul),
:global(li),
:global(fieldset),
:global(form),
:global(label),
:global(legend),
:global(table),
:global(caption),
:global(tbody),
:global(tfoot),
:global(thead),
:global(tr),
:global(th),
:global(td),
:global(article),
:global(aside),
:global(canvas),
:global(details),
:global(embed),
:global(figure),
:global(figcaption),
:global(footer),
:global(header),
:global(hgroup),
:global(menu),
:global(nav),
:global(output),
:global(ruby),
:global(section),
:global(summary),
:global(time),
:global(mark),
:global(audio),
:global(video) {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
:global(article),
:global(aside),
:global(details),
:global(figcaption),
:global(figure),
:global(footer),
:global(header),
:global(hgroup),
:global(menu),
:global(nav),
:global(section) {
  display: block;
}
:global(body) {
  line-height: 1;
}
:global(ol),
:global(ul) {
  list-style: none;
}
:global(blockquote),
:global(q) {
  quotes: none;
}
:global(blockquote:before),
:global(blockquote:after),
:global(q:before),
:global(q:after) {
  content: '';
  content: none;
}
:global(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $color-white;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  // this defines what 1rem is --> font root size
  font-size: 62.5%; // 10/16, 1rem = 10px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;

  @include responsive(tab_medium) {
		font-size: 50%;
  }

	@include responsive(tab_port) {
		font-size: 50%;
  }

  @include responsive(tablet) {
		font-size: 40%;
  }

  @include responsive(phone) {
		font-size: 40%;
	}
}

.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// React Awasome Slide - CUSTOM
.awssld {
  width: 100%;
  height: 100vh;
  cursor: initial;

  &__bullets {
    padding-bottom: 14rem;
    height: 0.3rem;
    width: 0.3rem;
    z-index: 2;
    background: transparent;

    & button {
      width: 0.2rem;
      height: 0.2rem;
    }
  }
}

.container {
  width: 85%;
  max-width: 128rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-grey-weak;
  margin: 0;
  padding-top: 4rem;
  box-shadow:
  0 -0px white,
  0 0px white,
  -7px 0 4px -3px rgba(0, 0, 0, 0.1),
  7px 0 4px -3px rgba(0, 0, 0, 0.1);

  @include responsive(phone) {
    box-shadow: none;
    width: 100%;
	}
}
